:root {
  --black-color: #2e323f;
  --dark-grey-color: #3b4050;
  --grey-color: #6f737f;
  --brown-color: #a59678;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

.golden-text {
  color: var(--brown-color);
}

.btn {
  font-size: 1.5rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--brown-color);
  padding: 0.75rem 2em;
  font-weight: 900;
  border-radius: 100px;
}

.btn:hover,
.btn:focus {
  opacity: 0.75;
}

a {
  text-decoration: none;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

header {
  background-color: var(--black-color);
  padding: 1em 0;
  text-align: center;
  font-size: 1.125em;
}

.nav {
  width: 100%;
  visibility: hidden;
  height: 0;
  position: absolute;
}

/*hamburger menu start*/
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3rem;
  height: 3rem;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  color: white;
  transition: opacity 250ms ease;
  position: absolute;
  left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.nav__item {
  list-style-type: none;
  padding: 0 0 0.25rem 0;
}

.nav__list {
  margin: 0;
  padding: 0;
}

.nav__link {
  text-transform: uppercase;
  color: white;
}

.nav__list--primary {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.nav__link--button {
  padding: 0.25rem 0.75rem;
  background-color: var(--brown-color);
  border-radius: 100px;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.logo {
  height: 30px;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.hero {
  padding: 6em 0;
  background-color: var(--dark-grey-color);
  color: var(--grey-color);
}
.hero-title {
  color: #ffff;
  font-size: 5rem;
  margin-top: 0;
  line-height: 6rem;
}

.primary-content--image {
  width: 100%;
  padding: 2.5em 0;
}

.hero p {
  margin-bottom: 3em;
  font-size: 1.5rem;
}
.hero__img {
  margin-top: 2em;
}

.main {
  margin-top: 3em;
}

.section-two {
  background-color: #f1f1f1;
  padding-top: 3em;
  padding-bottom: 3em;
}
.sidebar {
  text-align: center;
  color: #fff;
}
.sidebar__info {
  background-color: var(--black-color);
  margin: 1em 0;
  padding: 1em 2em;
}

footer {
  background-color: var(--dark-grey-color);
  padding: 3em;
}

.footer-title {
  text-align: center;
  color: white;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list__title {
  color: var(--brown-color);
}

.footer__link,
footer p {
  color: var(--grey-color);
}
.footer__link:hover,
.footer__item:focus {
  opacity: 0.75;
}
.footer__text {
  text-decoration: none;
}
/*for medium screen*/
@media (min-width: 700px) {
  .sidebar {
    display: flex;
  }

  .sidebar__info + .sidebar__info {
    margin-left: 20px;
  }
}
/*for large screen*/
@media (min-width: 1000px) {
  .nav-toggle {
    display: none;
  }

  .row {
    display: flex;
  }
  .nav {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    position: relative;
  }

  .nav__list {
    display: flex;
    margin: 0;
  }
  .hero__text {
    display: flex;
  }
  .hero__text--secondary {
    margin-top: 7em;
  }
  .main {
    display: flex;
  }

  .sidebar {
    display: block;
  }

  .footer__col {
    width: 50%;
  }
}
